.search{
	width:300px;
	height:35px;
	position:absolute;
	left:43%;
	top:25px;
}
.category{
	width:600px;
	height:45px;
	position:absolute;
	left:27%;
	top:70px;
}
.info { 
	background-color:#8B2842;
	width:130px;
	height:35px;
	position:absolute;
	left:0px;
	top:3px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	color: white;
	letter-spacing:0;
	border-radius:10px;
}
.purchase { 
	background-color:#8B2842;
	width:130px;
	height:35px;
	position:absolute;
	left:190px;
	top:3px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	color: white;
	letter-spacing:0;
	border-radius: 10px;	
}
.share { 
	background-color:#8B2842;
	width:80px;
	height:35px;
	position:absolute;
	right: 140px;
	top:3px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	color: white;
	letter-spacing:0;
	border-radius: 10px;
}
.other { 
	background-color:#8B2842;
	width:80px;
	height:35px;
	position:absolute;
	right: 0px;
	top:3px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	color: white;
	letter-spacing:0;
	border-radius: 10px;
}
.create { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:54px;
	position:absolute;
	right:90px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	background-color: #FEF5F0;
	border:1px solid #8B2842;
	border-radius: 10px;
}
