body{ 
	background-color:#FEF5F0;
	width:100%;
	height:100%;
	position:absolute;
}
a {
    text-decoration: none; /* 기본 밑줄 제거 */
    color: black;
}
a:hover {
    text-decoration: underline; /* 호버 시 밑줄 보이게 설정 */
}
.leftline { 
	transform: rotate(90.10610317553905deg);
	width:20%;
	height:0px;
	position:absolute;
	top:0px;
	border:1px solid #8B2842;
}
.rightline { 
	transform: rotate(89.89389682446095deg);
	width:20%;
	height:0px;
	position:absolute;
	left:80%;
	border:1px solid #8B2842;
}
.somsom { 
	width:150px;
	height:140px;
	position:absolute;
	background-image:url(../images/somsom.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.title { 
	color:#8B2842;
	width:250px;
	height:60px;
	position:absolute;
	left:600px;
	top:50px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.bell { 
	width:69px;
	height:85px;
	position:absolute;
	left:93%;
	top:40px;
	background-image:url(../images/bell.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.line { 
	transform: rotate(-0deg);
	width:100%;
	height:0px;
	position:absolute;
	top:20%;
	border:1px solid #8B2842;
}
.mypage{ 
	color:black;
	width:100px;
	height:44px;
	position:absolute;
	left:25px;
	top:25%;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.line1{ 
	width:130px;
	height:0px;
	position:absolute;
	left:10px;
	top:210px;
	border:1px solid black;
}
.find { 
	color:black;
	width:100px;
	height:44px;
	position:absolute;
	left:25px;
	top:223px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.line2{ 
	width:130px;
	height:0px;
	position:absolute;
	left:10px;
	top:255px;
	border:1px solid black;
}
.match{ 
	color:black;
	width:100px;
	height:44px;
	position:absolute;
	left:25px;
	top:266px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.line3{ 
	width:130px;
	height:0px;
	position:absolute;
	left:10px;
	top:300px;
	border:1px solid black;
}
.shit { 
	color:black;
	width:100px;
	height:44px;
	position:absolute;
	left:25px;
	top:310px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.line4 { 
	width:130px;
	height:0px;
	position:absolute;
	left:10px;
	top:345px;
	border:1px solid black;
	
}
.free{ 
	color:black;
	width:100px;
	height:44px;
	position:absolute;
	left:25px;
	top:356px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.main{
	width:1214px;
	height:550px;
	position:absolute;
	left:151px;
	top:20%;
	border:2px solid #8B2842;
	background-color: white;
}
