@charset "UTF-8";
.e30_1669 { 
	background-color:rgba(255, 255, 255, 1);
	width:1479px;
	height:857px;
	position:absolute;
}
.e30_1670 { 
	background-color:rgba(254.00000005960464, 245.00000059604645, 240.00000089406967, 1);
	width:41px;
	height:37px;
	position:absolute;
	left:1983px;
	top:-5450px;
}
.e30_1671 { 
	color:rgba(0, 0, 0, 1);
	width:306px;
	height:82px;
	position:absolute;
	left:731px;
	top:-5532px;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
	line-height:px;
}
.e30_1672 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:86px;
	position:absolute;
	left:867px;
	top:-5396px;
	border-radius:10px;
}
.e30_1672 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_1673 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:86px;
	position:absolute;
	left:1155px;
	top:-5396px;
	border-radius:10px;
}
.e30_1673 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_1674 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:288px;
	height:86px;
	position:absolute;
	left:1443px;
	top:-5396px;
	border-radius:10px;
}
.e30_1674 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_1675 { 
	background-color:rgba(139.0000069141388, 40.00000141561031, 66.00000366568565, 1);
	width:288px;
	height:86px;
	position:absolute;
	left:1731px;
	top:-5396px;
	border-radius:10px;
}
.e30_1675 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_1676 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:50px;
	position:absolute;
	left:955px;
	top:-5375px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e30_1677 { 
	color:rgba(255, 255, 255, 1);
	width:291px;
	height:50px;
	position:absolute;
	left:1487px;
	top:-5378px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e30_1678 { 
	color:rgba(255, 255, 255, 1);
	width:291px;
	height:50px;
	position:absolute;
	left:1811px;
	top:-5375px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e30_1679 { 
	color:rgba(255, 255, 255, 1);
	width:231px;
	height:50px;
	position:absolute;
	left:1212px;
	top:-5378px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e30_1680 { 
	background-color:rgba(255, 255, 255, 1);
	width:1152px;
	height:612px;
	position:absolute;
	left:867px;
	top:-5310px;
}
.e30_1680 { 
	border:1px solid rgba(139.0000069141388, 40.00000141561031, 66.00000366568565, 1);
}
.e30_1682 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:54px;
	position:absolute;
	left:922px;
	top:-5284px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e30_1684 { 
	color:rgba(0, 0, 0, 1);
	width:291px;
	height:38px;
	position:absolute;
	left:978px;
	top:-5269px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e30_1691 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.325998306274414px;
	height:15.291999816894531px;
	position:absolute;
	left:1772px;
	top:-5337px;
}
.e30_1691 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_1692 { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:33px;
	position:absolute;
	left:1769px;
	top:-5384px;
}
.e30_1692 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_1693 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:287px;
	height:45px;
	position:absolute;
	left:925px;
	top:-5189px;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
.e30_1870 { 
	background-color:rgba(139.0000069141388, 40.00000141561031, 66.00000366568565, 1);
	width:128px;
	height:61px;
	position:absolute;
	left:1829px;
	top:-5281px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e30_1871 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:37px;
	position:absolute;
	left:1863px;
	top:-5267px;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}
