.search{
	width:300px;
	height:50px;
	position:absolute;
	left:40%;
	top:30px;
}
.create { 
	color:black;
	width:54px;
	height:54px;
	position:absolute;
	right:90px;
	top:25px;
	font-family:Inter;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	background-color: #FEF5F0;
	border:1px solid #8B2842;
	border-radius: 10px;
}

.cancle{
	color:black;
	width:50px;
	height:30px;
	right:150px;
	top:35px;
	position:absolute;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	background-color: #FEF5F0;
	border:1px solid #8B2842;
	border-radius: 10px;
}
.register{
	color:white;
	width:50px;
	height:30px;
	right:90px;
	top:35px;
	position:absolute;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	background-color: #8B2842;
	border:1px solid #8B2842;
	border-radius: 10px;
}
.category{
	color:#8B2842;
	width:120px;
	height:25px;
	left:70px;
	top:80px;
	position:absolute;
	font-size:15px;
	letter-spacing:0;
	background-color: #FEF5F0;
	border:1px solid #8B2842;
}
.anonymous{
	color:black;
	width:60px;
	height:25px;
	left:200px;
	top:83px;
	position:absolute;
	font-size:15px;
	letter-spacing:0;
}
.post{
	width:1150px;
	height:400px;
	position:absolute;
	left:30px;
	top:22%;
}
