
.container {	
	display: flex;
	width : 75%;
	flex-wrap: wrap; 
	justify-content: space-around;
	border: 1px solid black;
}

.item {
	border: 1px solid red;	
}

.itemTitle {
	border: 1px solid orange;
}

.itemText {
	border: 1px solid yellow;
}

.rankArea {
	border: 1px solid green;
}

.rankBox {
	border: 1px solid blue;
}
