@charset "UTF-8";

body {
	font-family: 'NotoSansKR-ExtraLight', sans-serif;
	background-color: #FEF5F0;
}

form {
	align-items: center;
	background-color: white;
	width: 35%;
}

table {
	margin: auto;
}

@font-face {
	font-family: 'NotoSansKR-ExtraLight';
	src: url('../fonts/NotoSansKR-ExtraLight.ttf') format('truetype');
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border-width: 0 0 1px;
	font-family: 'NotoSansKR-ExtraLight', sans-serif;
}

#btn {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid #8B2842;
	background-color: #FEF5F0;
	color: #8B2842;
	padding: 3px;
	font-family: 'NotoSansKR-ExtraLight', sans-serif;
}
