<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="model.dto.NoiseDTO" alias="NoiseDTO" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@dblab.dongduk.ac.kr:1521/orclpdb" />
				<property name="username" value="dbp230202" />
				<property name="password" value="100749" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="model/dao/mybatis/mapper/NoiseMapper.xml" />
	</mappers>
</configuration>